@import '../../style/fonts';
@import '../../style/colors';

.nav {
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.brand {
  display: flex;
  flex-direction: row;
  align-items: center;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  color: $branding-blue-light;
  text-decoration: none;
}

.collapse {
  display: flex!important;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
}

.item {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */

  color: $branding-blue-medium;
  text-decoration: none;
  margin: 0 10px;
}
