@import '../../style/fonts';
@import '../../style/colors';

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5% 5%;
}

.title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 67px;
  /* identical to box height, or 168% */

  color: $branding-blue-medium;
  margin-bottom: 20px;
}

.card-container {
  float: left;

}
